.form-control::-webkit-input-placeholder {
    color: #D4D4D4;
    opacity: "0.55";
    margin-left: 10px;
}
.form-control:-moz-placeholder {
    color: #D4D4D4;
    opacity: 0.8;  
    margin-left: 10px;
}
.form-control::-moz-placeholder {
    color: #D4D4D4;
    opacity: 0.8;  
    margin-left: 10px;
}
.form-control::placeholder {
    color: #D4D4D4; 
    opacity: 0.8; 
    margin-left: 10px;
}
.form-control:-ms-input-placeholder {
    color: #D4D4D4; 
    margin-left: 10px;
    opacity: 0.8; 
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}
input:focus {
    box-shadow: #101010 5px 5px !important;
}
.button-outline-black:active {
    border: none !important;
}