::-webkit-scrollbar {
  width: '1.2em'  !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.0)  !important;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.0)  !important;
  border-radius: 10px  !important;
  background-color: rgba(0,0,0,.1)  !important;
}

::-webkit-scrollbar-thumb {
  background-color:rgba(125,125,125,.1) !important; 
  border-radius: 10px  !important;
  height: 30px  !important;
  max-height: 30px  !important;
}

::-webkit-scrollbar-track-piece {
  height: 30px  !important;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0)  !important;
}

html {
  background-color:#191919;
  height: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#0c267a" !important;
  height: 100% !important;
  background-color:#191919 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-div { 
  height: 100% !important;
  min-height: 100% !important;
  height: 100% !important;
}

#root {
  height: 100% !important;
  background-color:#191919 !important;
}


::-webkit-scrollbar {
  width: 1.2em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.0);
  border-radius: 10px;
  background-color: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(125,125,125,.1);
  border-radius: 10px;
  height: 30px;
  max-height: 30px;
}
::-webkit-scrollbar-track-piece {
  height: 30px;
}

.dark-background {
  background-color: #191919;
}