.account-button {
    background-color: #202020;
    border: none;
    padding: 25px !important; 
    max-width: 400px;
    min-width: 400px;
    min-height: 100px;
    max-height: 100px;
    font-size: 16pt;
    box-shadow: #151515 2px 2px 5px 5px;
    transition: transform 0.25s;
    margin-top: 10px !important;
    text-align: left;
    margin-left: -25px !important;
    padding-left: 35px !important;
}
.account-button:hover {
    background-color: #404040 !important;
    transform: scale(1.05);
}
.account-title-span {
    text-align: left !important;
}
.account-button-row {
    margin-top: 50px;
    text-align: left !important;
}
.account-settings-container {
    margin: auto;
}
.account-settings-button-column {
    opacity: 0.87; 
    border-radius: 10px;
    background-color: #191919;
    max-width: 550px;
    padding-top: 90px !important;
}
.account-settings-title-col {
    opacity: 0.87; 
    color: #EEEEEE;
    font-size: 16pt;
}
.account-settings-email-col {
    color: #EEEEEE; 
    opacity: 0.9; 
    font-size: 14pt;
}
.settings-screen-button {
    width: 60px !important;
    height: 60px !important;
}