.my-dropdown {
    border-radius: 20 !important;
    margin-top: -5px;
    background-color: #191919 !important; 
  }

  .my-dropdown > button:hover {
    background-color: #505050 !important; 
  }

  .dropdown-toggle:after { content: none;  }

  .dropdown-toggle {
    background-color: "#404040" !important;
  }
.my-form-control:focus {
    border-color: #202020;
    box-shadow: inset 0 1px 1px rgba(12, 12, 12, 0.075), 0 0 8px rgba(12, 12, 12, 0.6);
}