.my-dropdown {
    border-radius: 20px !important;
    background-color: #191919 !important; 
    border: 1px solid #191919 !important;
    box-shadow: 3px 3px 2px 2px black !important;
    min-width: 325px;
    padding: 20px !important;
  }

  .my-dropdown > button:hover {
    background-color: #505050 !important; 
  }

  .dropdown-toggle:after { content: none;  }

  .dropdown-toggle {
    background-color: "#404040" !important;
  }

  .dropdown-toggle:active {
    border: none;
    box-shadow: none;
  }

.my-form-control:focus {
    border-color: #202020;
    box-shadow: inset 0 1px 1px rgba(12, 12, 12, 0.075), 0 0 8px rgba(12, 12, 12, 0.6);
}

.my-form-control {
  border: none !important;
}

.my-form-control-button:focus {
  border-color: #202020;
  box-shadow: inset 0 1px 1px rgba(12, 12, 12, 0.075), 0 0 8px rgba(12, 12, 12, 0.6);
}

.friend-topbar:hover {
  background-color: #303030 !important;
  cursor: pointer !important;
}

.friend-topbar {
  border-top: 2px #191919 solid !important;
  border-bottom: 2px #191919 solid !important;
  max-width: 200px !important;
  min-width: 200px !important;
  width: 200px !important;
  margin-right: 30px;
}

.friend-topbar:last-child {
  border-bottom: none !important;
}

.search-friend-bar:hover {
  background-color: #303030 !important;
  cursor: text;
}

.invite-hover:hover {
  background-color: #404040 !important;
  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #999999;
  background-color: #404040;
  border: none;
  margin-bottom: -5px;
}

.nav-tabs .nav-link.active {
  color: #999999;
  border: none;
  background-color: #303030;
  margin: 0px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-tabs {
  border: none;
  margin: auto;
}

.nav-tabs:hover {
  color: #999999;
  border: none;
  background-color: #101010;
  margin: 0px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-tabs .nav-link {
  color: #999999;
}

.tabs-notifications {
  padding-top: 20px;
}

.tabs-notifications:hover {
  background-color: transparent !important;
}

.friends-dropdown {
  background-color: #191919 !important;
}

.topbar-dropdown {
  background-color: #191919 !important;
  max-width: 325px;
}
.dropdown-menu-custom-bg {
  background-color: #191919 !important;
  min-width: 350px;
}

.dropdown-item-settings {
  background-color: #191919 !important;
  font-size: 16pt;
}

.dropdown-item-settings:hover {
  background-color: #404040 !important;
}