.modal-password-set {
    width: 40%;
    height: 40%;
    opacity: 0.85;
    background-color: #252525;
    border-radius: 2px;
    color: #CCCCCC;
    margin: auto;
    top: 100px;
    padding: 40px;
    margin-top: 150px;
}
.encryption-icon-pw-reset {
    width: 80px !important; 
    height: 80px !important;
}
.set-pw-form {
    font-size: 18pt;
    text-align: center;
    color: #EEEEEE;
    min-height: 50px;
    border: none;
    min-width: 80%; 
    background-color: #252525;
    margin-top: 25px;
}
.set-pw-form:hover, 
.set-pw-form:active,
.set-pw-form:focus,
.set-pw-form:focus-visible {
    background-color: #252525;
}
.set-pw-submit-button {
    background-color: #252525;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    border-radius: 2px !important;
}
.set-pw-col {
    border-bottom: 1px solid #303030;
}