.fixed-chat-box-column {
    padding-right: 15px;
    transition: padding-left 0.25s;
}
.send-message-button {
    border: none !important;
    outline: none !important;
    background-color: #404040 !important;
    color: #EEEEEE !important;
    opacity: 0.87 !important;
    box-shadow: 1px 1px 1px 1px #151515;
}
.send-message-button:hover,
.send-message-button:active,
.send-message-button:focus,
.send-message-button:focus-visible {
    background-color: #505050 !important;
    outline: none !important; 
    border: none !important;
}
.send-message-button:hover .send-message-icon {
    background-color: #505050 !important;
}
.chat-container-row-form {
    max-height: 60px !important;
    padding-bottom: 15px !important;
    position: fixed !important;
    bottom: -10px !important;
    min-height: 100px;
    min-width: 500px;
    z-index: 1000;
    width: 95%;
}
.chat-box-form {
    background-color: #404040;
    color: #EEEEEE; 
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px #151515;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px !important;
}
.chat-container {
    overflow:hidden;
}
.chat-container-row-list {
    margin-bottom: 150px;
    max-height: 100%;
}
@media only screen and (max-width: 768px) {
    .chat-container,
    .chat-container-row-form {
       padding-left: 5px !important;
    }

}
@media only screen and (min-width: 769px) {
    .chat-container,
    .chat-container-row-form {
        padding-left: 240px !important;
     }
}
.chat-box-form:hover,
.chat-box-form:active, 
.chat-box-form:focus {
    background-color: #303030;
    color: #EEEEEE;
}
.opaque {
    opacity: 0.7;
}