.dark-background {
    background-color: #191919;
}
.topbar-dropdown-icon {
    border: none; 
    color: #EEEEEE;
}
.topbar-dropdown-menu {
    min-width: 325px;
}
.friends-title-menu {
    opacity: 0.87; 
    color: #EEEEEE;
}
.send-friend-request-button {
    display: block;
    margin-right: auto;
    margin-left: -15px;
    color: #555555;
    border: none;
    background-color: #191919 !important;
}
.add-friend-icon {
    height: 30px; 
    width: 30px; 
    color: #AAAAAA;
}
.friends-list-row {
    max-width: 250px;
    min-width: 250px;
    overflow-y: scroll;
    margin-right: auto;
    margin-left: 15px;
}
.friend-list-item-row {
    max-height: 65px; 
    background-color: #191919;
}
.account-settings-info {
    margin-left: 20px;
    color: cornflowerblue;
    height: 35px;
    font-weight: lighter;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16pt;
}
.select-bg-img {
    height: 100%;
    width: 100%; 
}
.select-bg-square {
    display: flex; 
    justify-content: center;
    width: fit-content;
    background-color: #191919;
    border-radius: 10px;    
    filter: brightness(1.05);
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: #121212 5px 5px 2px 2px;
    background-color: #191919;
    margin-top: 10px;
    margin-bottom: 15px;
}
.select-bg-square:hover,
.select-bg-square:active,
.select-bg-square:focus,
.select-bg-square:focus-visible {
    transform: scale(1.05);
    filter: brightness(1.45);
}
.clearish {
    opacity: 0.87;
}
.errors-label-row {
    margin: 20px; 
    border-bottom: 1px solid red;
}
.topbar-dropdown {
    background-color: #191919 !important;
    max-width: 325px;
    opacity: 0.87;
    position: relative; 
    max-width: 100px;
    opacity: 0.87;
}
.dropdown-button-icon {
    background-color: #191919 !important;
    border: none !important;
    outline: none !important; 
}
.dropdown-menu-custom-bg-settings {
    background-color: #191919 !important;
    max-width: 100px;
    box-shadow: #151515 2px 2px 5px 5px;
}
.dropdown-item-settings {
    background-color: #191919 !important;
    font-size: 16pt;
    padding: 15px;
}
.dropdown-item-settings:hover {
    background-color: #404040 !important;
}
/* style={{ textDecoration: 'none', color: "#AAAAAA" }} */
.account-settings-link {
    text-decoration: none;
    color: #AAAAAA;
}
.account-settings-link:hover,
.account-settings-link:focus,
.account-settings-link:active,
.account-settings-link:focus-visible {
    text-decoration: none;
    color: #AAAAAA;
}
.search-friend-bar {
    margin-left: auto; 
    margin-right: auto;
    min-width: 200px;
    max-width: 250px;
    min-height: 50px;
    color: #EEEEEE;
    opacity: 0.87; 
    background-color: #202020;
    border: none;
}
.search-friend-bar:hover,
.search-friend-bar:active
.search-friend-bar:focus,
.search-friend-bar:focus-visible {
    background-color: #303030 !important;
    cursor: text;
    color: #EEEEEE;
}
.scroll-select-default-pics {
    max-height: 200px; 
    min-width: 230px;
    overflow-y: scroll;
}