.form-control::-webkit-input-placeholder {
    color: #D4D4D4;
    opacity: "0.55";
    margin-left: 10px;
}
.form-control:-moz-placeholder {
    color: #D4D4D4;
    opacity: 0.8;  
    margin-left: 10px;
}
.form-control::-moz-placeholder {
    color: #D4D4D4;
    opacity: 0.8;  
    margin-left: 10px;
}
.form-control::placeholder {
    color: #D4D4D4; 
    opacity: 0.8; 
    margin-left: 10px;
}
.form-control:-ms-input-placeholder {
    color: #D4D4D4; 
    margin-left: 10px;
    opacity: 0.8; 
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}
input:focus {
    box-shadow: #101010 5px 5px !important;
}
.button-outline-black:active {
    border: none !important;
}
.button-outline-black {
    color: #EEEEEE;
    background-color: #191919;
    opacity: 0.87; 
    border: none; 
    outline: none;
}
.login-screen-column {
    border-radius: 15px;
    background-color: #191919;
    opacity: 0.7; 
    max-width: 500px;
}
.welcome-text {
    opacity: 0.8; 
    margin-bottom: 35px;
}
.welcome-subtext {
    margin-bottom: 35px;
}
.login-spinner {
    height: 100px;
    width: 100px;
}
.login-screen-form {
    margin-left: auto; 
    margin-right: auto; 
    color: #EEEEEE;
    opacity: 0.87; 
    max-width: 400px;
    min-height: 50px;
    border: none; 
    outline: none; 
    background-color: #404040;
}
.login-link-button {
    text-decoration: none;
    color: #EEEEEE;
}
.login-button {
    /* style={{ opacity: 0.8, maxWidth: '200px', marginTop: "20px" }} */
    opacity: 0.8; 
    max-width: 200px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 20pt;
    padding: 25px;

}
.logging-in-spinner {
    height: 60px;
    width: 60px;
}
.logging-in-text {
    font-size: 15pt;
}