@media only screen and (max-width: 768px) {
    .start-chat-container {
        padding-left: 10px;
    }
}
@media only screen and (min-width: 769px) {
    .start-chat-container {
        padding-left: 240px;
    }
}
.start-chat-container {
    padding-right: 10%;
}
.select-friend-container {
    padding-top: 50px;
    text-align: center;
}
.start-chat-enter-name {
    padding-top: 100px;
    padding-left: 50px;
}
.start-chat-name, 
.start-chat-search-name {
    border-bottom: 1px solid #404040;
    padding-bottom: 20px;
    min-width: 400px;
    margin-left: 50px !important;
}
.start-chat-search-name {
    padding-bottom: 0 !important;
    margin-left: 35px !important;
}
.placeholder-mod::placeholder {
    font-size: 18pt !important;
    text-align: left !important;
}
.placeholder-mod {
    text-align: left !important;
    color: red;
}
.placeholder-search::placeholder {
    font-size: 16pt !important;
    text-align: left !important;
}
.send-invites-button,
.set-pw-button {
    max-width: 300px;
    width: stretch;
    min-width: 300px;
    min-height: 100px;
    outline: none !important;
    border: none !important;
    font-size: 22pt;
    font-weight: bold;
    display: inline; 
}
.select-friend-search {
    text-align: left;
    font-size: 18pt;
    color: #EEEEEE; 
    opacity: 0.8;
    min-height: 50px;
    border: none; 
    /* background-color: #191919; */
    outline: none;
}
.select-friend-search:hover,
.select-friend-search:active,
.select-friend-search:focus,
.select-friend-search:focus-visible {
    /* background-color: #191919; */
    color: cornflowerblue !important;
}
.search-friends {
    display: block; 
    /* background-color: #191919;  */
    border: none;
    outline: none;
}
.search-friends-icon {
    color: #EEEEEE;
    height: 50px; 
    width: 50px;
    cursor: pointer;
}
.checked-friends-list-container {
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: #191919; */
    min-height: 200px;
    padding: 25px;
}
.enter-chat-form {
    font-size: 22pt; 
    color: cornflowerblue !important;
    min-height: 50px;
    border: none; 
    outline: none; 
    background-color: transparent;
}
.enter-chat-form:active, 
.enter-chat-form:hover,
.enter-chat-form:focus,
.enter-chat-form:focus-visible {
    background-color:transparent;
    color: cornflowerblue !important;
}
.start-chat-super-container {
    margin: auto; 
}
.start-column {
    opacity: 0.8;
    border-radius: 10px;
    /* background-color: #191919; */
}
.chat-edit-icon {
    height: 30px !important;
    width: 30px !important;
}
.edit-chat-row {
}